<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <!-- 扫描 bean 的包路径 -->
    <context:component-scan base-package="org.lucas.example.framework.spring.thread.impl"/>

    <!-- 开启 @Async 注解,或通过 @EnableAsync 开启。 -->
    <task:annotation-driven exception-handler="myAsyncUncaughtExceptionHandler"/>

    <!-- 异常处理类。 -->
    <bean id="myAsyncUncaughtExceptionHandler"
          class="org.lucas.example.framework.spring.thread.impl.MyAsyncUncaughtExceptionHandler"/>

</beans>